{{ partial "header.html" . }}
<div class="banner">
  <h1>{{ .Site.Title }}</h1>
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      {{ partial "social-media-links.html" . }}
    </ul>
  </div>
  <ul class="posts">
	{{ $baseurl := .Site.BaseURL }}
	{{ range $name, $page := .Site.Pages }}
		{{ if and (eq .Type "post") (eq .Kind "page") }}
		<li>
		  <a href="{{ .Permalink }}">{{ $page.Title }}</a>

		  <p class="footnote">
  			<time datetime="{{ $page.Date.Format "2006-01-02T15:04:05Z07:00" }}" class="post-list timeago">{{ $page.Date.Format "2006-01-02T15:04:05Z07:00" }}</time>

  			{{ if or $page.Params.tags $page.Params.categories $page.Params.series }}
  			 |
  			{{ end }}

  			{{ with $page.Params.tags }}
  			  {{ range $page.Params.tags}}#<a href="{{ $baseurl }}tags/{{ . | urlize }}">{{ . }}</a> {{ end }}
  			{{ end }}

  			{{ with $page.Params.categories }}
  			  categories:[ {{ range $page.Params.categories }}<a href="{{ $baseurl }}categories/{{ . | urlize }}">{{ . }}</a> {{ end }}]
  			{{ end }}

  			{{ with $page.Params.series }}
  			  series:[ {{ range $page.Params.series }}<a href="{{ $baseurl }}series/{{ . | urlize }}">{{ . }}</a> {{ end }}]
  			{{ end }}
		  </p>
		</li>
		{{ end }}
	{{ end }}
  </ul>
</div>

{{ partial "footer.html" . }}
