<div class="header pure-g">
  <div class="pure-u-1-24 pure-u-md-5-24"></div>
  <div class="pure-u-11-12 pure-u-md-5-8">
    <div class="desktop pure-menu pure-menu-horizontal nav-menu">
      {{ $baseurl := .Site.BaseURL }}
      <a href="{{$baseurl}}" class="site-title pure-menu-heading">{{ .Site.Title }}</a>
      <ul class="pure-menu-list">
        {{ range $name, $page := .Site.Taxonomies.categories }}
        <li class="pure-menu-item">
          <a href="{{ $baseurl }}categories/{{ $name | urlize }}" class="pure-menu-link">{{ $name | title }}</a>
        </li>
        {{ end }}
        {{ if .Site.Author.github }}
        <li class="pure-menu-item">
          <a href="https://github.com/{{ .Site.Author.github }}" class="pure-menu-link">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </li>
        {{ end }}
        {{ if .Site.Author.twitter }}
        <li class="pure-menu-item">
          <a href="https://twitter.com/{{ .Site.Author.twitter }}" class="pure-menu-link">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        {{ end }}
        {{ if .Site.Author.linkedin }}
        <li class="pure-menu-item">
          <a href="https://www.linkedin.com/in/{{ .Site.Author.linkedin }}" class="pure-menu-link">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
        {{ end }}
        {{ if .Site.Author.google }}
        <li class="pure-menu-item">
          <a href="https://plus.google.com/+{{ .Site.Author.google }}" class="pure-menu-link">
            <i class="fa fa-google-plus" aria-hidden="true"></i>
          </a>
        </li>
        {{ end }}
        {{ if .Site.Author.facebook }}
        <li class="pure-menu-item">
          <a href="https://www.facebook.com/{{ .Site.Author.facebook }}" class="pure-menu-link">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        {{ end }}
        {{ if .Site.Author.email }}
        <li class="pure-menu-item">
          <a href="mailto:{{ .Site.Author.email }}" class="pure-menu-link">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
    <div class="mobile pure-menu nav-menu">
      <a href="/" class="pure-menu-heading" id="toggle-home">{{ .Site.Title }}</a>
      <a href="#" id="toggle-btn">&#9776;</a>
      <ul class="pure-menu-list" id="toggle-content" style="display:none;">
        {{ $baseurl := .Site.BaseURL }}
        {{ range $name,$page := .Site.Taxonomies.categories }}
        <li class="pure-menu-item">
          <a href="{{ $baseurl }}categories/{{ $name | urlize }}" class="pure-menu-link">{{ $name | title }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
  <div class="pure-u-1-24 pure-u-md-1-6"></div>
</div>
